h1{
    color: black;
    font-size: larger;
    text-align: center;
}
p{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
.info{
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px; 
    
}
.info:hover{
    background-color: #dc8282;
    transform: scale(1.05);
    transition: transform 0.5s ease;
    color: white;
}
.tecno{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
.tecno ul{
    list-style-type: none;
    padding: 0;
}
.tecno img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
a{
    color: black;
    text-decoration: none;
    font-variant: small-caps;
}
a:hover{
    color: #dc8282;
    text-decoration: underline;
}
footer{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #555;
}
footer:hover{
    color: #dc8282;
}
body{
    background-color: #ffffff;
    display: block;
}
